.logo-container{
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo-content{
    cursor: pointer;
    margin: 50px 60px 50px;
}

.logo-content h1{
    color: #795548;
}

.imagen-computadora{
    width: 80px;
}

@media (max-width: 450px){

    .logo-container{
        justify-content: start;
        align-items: start;
    }

    .logo-content{
        margin: 30px;
    }

    .imagen-computadora{
        width: 30px;
    }
}