.languages-container{
    margin: auto;
}

.languages-content{
    display: flex;
    gap: 30px;
}

.english-flag{
    cursor: pointer;
    width: 40px;
}

.spanish-flag{
    cursor: pointer;
    width: 40px;
}