.mode-container{
    margin: auto;
}
.mode-content{
    cursor: pointer;
}

.button-dark-mode{
    font-size: 40px;
}

.button-dark-mode.light{
    color: var(--secondary-color);
}

.button-dark-mode.dark{
    color: var(--primary-color-dark-mode);
}