.card-project-container{
    position: relative;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 80%;
    margin: auto;
    padding: 30px 30px 10px 30px;
    cursor: pointer;
    transition: all .5s ease; /* Transición suave */
}

.card-icono-development{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    position: absolute;
    left: 600px;
    top: 50px;
    opacity: 0;
    transition: all .3s ease;
    color: #4E4E4E;
}

.icono-development{
    color: var(--secondary-color);
    font-size: 60px;
}

.icono-development-text{
    color: var(--secondary-color);
    font-size: 20px;
}

.card-project-container-disabled{
    transition: all .3s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .2); 
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 100000;
}

.card-project-container:hover {
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}

.card-project-container:hover .card-icono-development{
    opacity: 1;
}

.card-project-container:hover .card-project-container-disabled{
    opacity: 1;
}

.card-project-container:hover .card-project-info{
    opacity: .2;
}

.card-project-container:hover .card-project-logo{
    opacity: .2;
}


.card-project-content{
    position: relative;
    display: flex;
    flex-direction: column;
}

.card-project-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--secondary-color);
}

.card-header{
    display: flex;
    margin-bottom: 10px;
    gap: 60px;
}

.card-body{
    display: flex;
}

.card-titulo{
    color: var(--secondary-color);
    font-size: 28px;
}

.card-project-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
}

.lista-tools{
    display: flex;
    color: var(--secondary-color);
}

.card-icono-default{
    color: var(--secondary-color);
    font-size: 40px;
}

.card-icono-development-responsive{
    display: none;
}

@media (max-width: 450px){

    .card-titulo{
        font-size: 20px;
    }

    .card-project-info p{
        font-size: 12px;
    }

    .card-project-container:hover {
        box-shadow: none;
        transform: translateY(0px);
    }
    
    .card-project-container:hover .card-project-info{
        opacity: 1;
    }
    
    .card-project-container:hover .card-project-logo{
        opacity: 1;
    }

    .card-project-container-disabled{
        background-color: transparent;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    }

    .card-icono-development, .card-project-container-disabled{
        display: none;
        /* left: 0; */
    }

    .card-icono-development-responsive{
        display: flex;
        gap: 5px;
    }
    
    .icono-development{
        font-size: 16px;
    }

    .icono-development-text{
        text-align: center;
        font-size: 12px;
    }

    .icono-development-text-container{
        text-align: center;
    }
}