.projects-section {
    padding-top: 140px;
}

.projects-page-content {
    gap: 140px;
}

.projects-title-content {
    width: 100%;
}

.projects-list-content {
    width: 100%;
    margin-bottom: 38px;
}

.titulo-main-container{
    display: flex;
    height: 200px;
}

.titulo-main-content{
    margin: auto;
}

.titulo-main{
    font-size: 40px;
}

.titulo-main.light{
    color: var(--secondary-color);
}

.titulo-main.dark{
    color: var(--tertiary-color-dark-mode);
}

.lista-proyectos-content{
    margin: 50px 0;
}

@media (max-width: 800px){
    .projects-section {
        padding-top: 80px;
    }

    .projects-page-content {
        gap: 90px;
    }

    .proyecto-container{
        margin-bottom: 300px;
    }

    .titulo-main-container{
        height: 100px;
    }

    .titulo-main{
        font-size: 20px;
    }
}
