.burguer-container{
    display: flex;
    justify-content: end;
}

.burguer-content{
    margin: 50px 110px 50px;
}

.burguer-icono{
    font-size: 45px !important;
}

.menu-content{
    display: flex;
    gap: 20px;
    margin: 20px;
}

@media (max-width: 800px){
    .burguer-container{
        display: none;
    }

    .burguer-content{
        margin: 20px;
    }

    .burguer-icono{
        font-size: 30px !important;
    }
}