.burguer-container{
    display: flex;
    justify-content: end;
}

.burguer-content{
    margin: 50px 110px 50px;
}

.burguer-icono{
    font-size: 45px !important;
}

.menu-container.light .MuiPaper-root {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2) !important;
    background-color: var(--primary-color) !important;
}

.menu-container.dark .MuiPaper-root {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2) !important;
    background-color: var(--primary-color-dark-mode) !important;    
}

.menu-content{
    display: flex;
    gap: 20px;
    margin: 20px;
}

@media (max-width: 800px){
    .burguer-container{
        display: none;
    }

    .burguer-content{
        margin: 20px;
    }

    .burguer-icono{
        font-size: 30px !important;
    }
}