.nav-container {
  display: block;
}

.nav-content {
  display: flex;
  align-items: center;
}

.nav-lista {
  list-style: none;
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
}

.nav-link-text {
  margin: 0;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.nav-link-text.light {
  color: rgb(217 119 6);
}

.nav-link-text.dark {
  color: rgb(229 231 235);
}

.circle-name-selected {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
