.nav-container{
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: center;
    height: 60px;
    width: 600px;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    margin-top: -20px;
}

.nav-container.light{
    background-color: rgb(252, 243, 207, 0.7);
}

.nav-container.dark{
    color: var(--tertiary-color-dark-mode);
}

.nav-content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-lista{
    display: flex;
    gap: 80px;
}

ul{
    list-style: none;
}

.nav-lista li a,
.nav-lista li a :active,
.nav-lista li a :focus{
    cursor: pointer;
    text-decoration: none !important;
}

.circle-name-selected{
    position: absolute;
    border-radius: 50px;
    width: 20%;
    height: 42px;
    transition: all ease .5s;
}

.circle-name-selected.light{
    background-color: #D5CAC7;
}

.circle-name-selected.dark{
    /* background-color: var( --tertiary-color-dark-mode); */
    background-color: #677a69;
}

.nav-item_selected{
    border-radius: 50px;
    background-color: #D5CAC7;
}

li{
    padding: 12px;
    text-align: center;
}

li h3{
    font-size: 16px
}

.nav-lista .light{
    color: var(--secondary-color);
}

.nav-lista .dark{
    color: var(--secondary-color-dark-mode);
}

@media (max-width: 800px){

    .nav-container{
        display: none;
    }
}

