footer{
    margin-top: 350px;
    /* height: 200px; */
    height: 20vh;
    background-color: #E3DCC1;
    padding: 20px;
}

.footer-titulo{
    font-size: 15px;
    color: var(--secondary-color);
}

@media (max-width: 800px){

    footer{
        margin-top: 150px;
        height: 20vh;
        /* height: 100px; */
    }

    .footer-titulo{
        font-size: 10px;
    }
}