:root {
  /* Light Mode */
  --primary-color: #FCF3CF;
  --secondary-color: #795548;
  
    /* Dark Mode */
  --principal-color-green: #196158;
  --primary-color-dark-mode: #003B32;
}

@font-face {
  font-family: 'MiFuente';
  src: url('./assets/fonts/CourierPrime-Regular.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'MiFuente', sans-serif;
}

#root{
  width: 100vw;
  height: 100vh;
}


/* Icons */
.icon--default--color{
  color: var(--secondary-color);
}

.icon-default--mid{
  font-size: 50px !important;
}


/* Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #DFD5AA ;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: var(--secondary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
