.about-container{
    width: 100%;
    margin-top: 100px;
}

/* INTRODUCCION */
.introduccion-content{
    display: flex;
}

/* SOBRE MI */
.sobre-mi-titulo-container{
    padding: 10px 25px;
}

.sobre-mi-container{
    width: 100%;
}

.sobre-mi-content{
    display: flex;
    flex-direction: column;
}

/* INFORMACION */
.informacion-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    padding: 0 80px;
    color: var(--secondary-color);
}

.sobre-mi-titulo-content {
    margin: 0 0 50px 30px;
    width: 40%;
}

.sobre-mi-titulo-content h3{
    font-size: 35px;
    color: var(--secondary-color);
    /* color: var(--principal-color-green); */
}

.informacion__card{
    display: flex;
    flex-direction: column;
    /* background-color: var(--principal-color); */
    background-color: #E5DDBE;
    font-size: 20px;
    padding: 25px;
    border-radius: 5px;
    gap: 25px;
}

.informacion__texto{
    line-height: 1.3;
}

/* PERFIL */
.perfil-container{
    display: flex;
    align-items: end;
    border-radius: 20px;
    width: 30%;
}

.perfil-content{
    padding-top: 30px;
    position: relative;
    width: 350px;
    height: 466px;
    border-radius: 20px;
}

.perfil-fade{
    position: absolute;
    width: 100%;
    height: 100%;
}

.imagen-perfil{
    position: absolute;
    width: 100%;
    border-radius: 10% 10% 0 0;
}

.habilidades-experiencia-container{
    margin-top: 600px;
    background-color: var(--secondary-color);
}

.habilidades-experiencia-content{
    display: flex;
    width: 100%;
}

/* EXPERIENCIA */
.experiencia-container{
    width: 100%;
    height: 100%;
}

.experiencia-content{
    height: 100%;
}

.experiencia-titulo-container, .habilidades-titulo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 35px;
    margin: 50px 0;
}

.experiencia-titulo{
    color: var(--primary-color);
}

.experiencia-informacion-container{
    width: 100%;
}

.experiencia-informacion-content{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 50px;
    width: 90%;
}

.trabajo-content{
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 15px 25px;
}

.trabajo-header{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    font-size: 18px;
    padding: 30px 20px 0;
}

.trabajo-info{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.trabajo-secondary-titulo-container{
    display: flex;
    gap: 20px;
}

.trabajo_separation__header_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.trabajo_separation__header{
    margin-top: -4px;
    font-size: 30px;
    color: #B08879;
}

.trabajo-nombre{
    color: var(--secondary-color);
}

.trabajo-secondary-titulo{
    font-size: 20px;
    color: #B08879;
}

.trabajo_tiempo__container{
    padding: 20px 20px 0;
}

.trabajo-tiempo{
    /* margin-top: 5px; */
}

.trabajo-parrafo{
    margin-top: 2px;
    line-height: 1.3;
    font-size: 16px;
    color: var(--secondary-color);
}

.empresa-imagen-container{
    display: flex;
    align-items: center;
    width: 35%;
}

.byma-imagen{
    margin-right: 15px;
    width: 200px;
}

.exp-hab-container{
    display: flex;
    justify-content: center;
}

/* HABILIDADES */
.habilidades-container{
    width: 100%;
}

.habilidades-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.habilidades-titulo-container{
    color: var(--primary-color);
}

.habilidades-logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.habilidades-logo-content{
    background-color: var(--primary-color);
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
    /* gap: 60px; */
}

.logo-container{
    display: flex;
    align-items: center;
    margin: 10px 50px;
}

.logo-default{
    width: 80px;
}

.logo-bigger{
    width: 160px;
}

@media (max-width: 450px){
    .about-container{
        margin-top: 0;
    }

    .informacion-container{
        padding: 0;
        width: 100%;
    }

    .introduccion-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .introduccion-content{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
    }

    .sobre-mi-titulo-content{
        width: 100%;
        margin: 0;
    }

    .sobre-mi-titulo-content h3{
        font-size: 15px;
    }

    .perfil-container{
        display: none;
    }

    /* .perfil-content{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 180px;
    } */

    .informacion__card{
        font-size: 10.5px;
    }

    /*  */
    .habilidades-experiencia-container{
        margin-top: 250px !important;
    }

    .habilidades-experiencia-content{
        flex-direction: column;
        gap: 60px;
    }

    .habilidades-titulo-content h4, .experiencia-titulo{
        font-size: 25px;
    }

    .habilidades-logo-container{
        width: 80%;
    }

    .habilidades-logo-content{
        flex-wrap: wrap;
    }

    .trabajo-header{
        padding-top: 20px;
        gap: 10px;
    }

    .trabajo_separation__header{
        font-size: 20px;
    }

    .trabajo-secondary-titulo-container{
        display: flex;
        padding-left: 15px;
        margin-bottom: -5px;
        gap: 2px;
    }
    
    .trabajo-nombre{
        font-size: 15px;
    }

    .trabajo-secondary-titulo-container h3{
        font-size: 13px;
    }

    .trabajo-parrafo{
        font-size: 10px;
    }

    .trabajo-content{
        padding: 10px 5px 15px 15px;
    }

    .trabajo-secondary-titulo{
        margin-left: 10px;
    }

    .trabajo-secondary-titulo{
        font-size: 15px;
    }

    .byma-imagen{
        width: 100px;
    }

    .habilidades-logo-content{
        gap: 20px;
    }
    .logo-container{
        margin: 0;
    }
    
    .logo-default{
        width: 40px;
    }

    .logo-bigger{
        width: 80px;
    }
}