.about-container{
    width: 100%;
}


/* INTRODUCCION */
.introduccion-content{
    display: flex;
}

/* SOBRE MI */
.sobre-mi-container{
    width: 90%;
    margin: auto;
    width: 100%;
    height: 100%;
}

.sobre-mi-content{
    display: flex;
    flex-direction: column;
}

/* INFORMACION */
.informacion-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    padding: 0 80px;
    color: var(--primary-color);
}

.sobre-mi-titulo-content {
    margin: 0 0 50px 30px;
    width: 40%;
}

.sobre-mi-titulo-content h3{
    font-size: 35px;
    color: var(--principal-color-green);
}

.informacion__card{
    display: flex;
    flex-direction: column;
    background-color: var(--principal-color-green);
    font-size: 20px;
    padding: 25px;
    border-radius: 5px;
    gap: 25px;
    margin-bottom: -80px;
}

/* PERFIL */
.perfil-container{
    border-radius: 20px;
    width: 30%;
}

.perfil-content{
    position: relative;
    width: 350px;
    height: 466px;
    border-radius: 20px;
}

.perfil-fade{
    position: absolute;
    width: 100%;
    height: 100%;
}

.imagen-perfil{
    position: absolute;
    width: 100%;
    border-radius: 10% 10% 0 0;
}


/* EXPERIENCIA */
.experiencia-container{
    height: 100vh;
    background-color: var(--principal-color-green);
    /* background-color: #91B88D; */
    margin-top: 200px;
}

.experiencia-titulo-container{
    height: 200px;
}

.experiencia-titulo-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    margin: auto;
}

.experiencia-titulo{
    color: var(--primary-color);
    font-size: 35px;
}

.experiencia-informacion-container{
    width: 100%;
}

.experiencia-informacion-content{
    background-color: #799B76;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
}


.trabajo-header{
    display: flex;
    gap: 40px;
    padding: 25px 0 10px 25px;
    font-size: 18px
}

.trabajo-nombre{
    color: var(--primary-color);
}

.trabajo-tiempo{
    /* color: var(--primary-color); */
    color: var(--primary-color);
}
.trabajo-parrafo{
    margin: 0 10px 20px 20px;
    color: var(--primary-color);
}

.empresa-imagen-container{
    width: 40%;
}

.byma-imagen{
    width: 250px;
}
